# Import libraries

In [1]:
import pandas as pd
import numpy as np

# Read data and create dataframes

In [2]:
# Create dataframe for World Happiness Report 2015-2019
df_happy_2015_2019 = pd.read_csv('world-happiness-report-2015-19.csv')

In [3]:
df_happy_2015_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 11 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country name                      1949 non-null   object
 1   year                              1949 non-null   int64
 2   Life Ladder                       1949 non-null   float64
 3   Log GDP per capita                1913 non-null   float64
 4   Social support                    1936 non-null   float64
 5   Healthy life expectancy at birth  1894 non-null   float64
 6   Freedom to make life choices      1917 non-null   float64
 7   Generosity                        1860 non-null   float64
 8   Perceptions of corruption         1839 non-null   float64
 9   Positive affect                   1927 non-null   float64
 10  Negative affect                   1933 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 167.6+ KB

In [4]:
# Create dataframe for World Happiness Report 2021
df_happy_2021 = pd.read_csv('world-happiness-report-2021.csv')

In [5]:
df_happy_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                149 non-null    object
 1   Regional indicator                          149 non-null    object
 2   Ladder score                                149 non-null    float64
 3   Standard error of ladder score              149 non-null    float64
 4   upperwhisker                                149 non-null    float64
 5   lowerwhisker                                149 non-null    float64
 6   Logged GDP per capita                       149 non-null    float64
 7   Social support                              149 non-null    float64
 8   Healthy life expectancy                     149 non-null    float64
 9   Freedom to make life choices                149 non-null    float64
 10  Generosity                                  149 non-null    float64
 11  Perceptions of corruption                   149 non-null    float64
 12  Ladder score in Dystopia                    149 non-null    float64
 13  Explained by: Log GDP per capita            149 non-null    float64
 14  Explained by: Social support                149 non-null    float64
 15  Explained by: Healthy life expectancy       149 non-null    float64
 16  Explained by: Freedom to make life choices  149 non-null    float64
 17  Explained by: Generosity                    149 non-null    float64
 18  Explained by: Perceptions of corruption     149 non-null    float64
 19  Dystopia + residual                         149 non-null    float64
dtypes: float64(18), object(2)
memory usage: 23.4+ KB

In [6]:
# Create dataframe for World Happiness Report 2020
df_happy_2020 = pd.read_excel('world-happiness-report-2020.xls')

In [7]:
df_happy_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country name                                153 non-null    object
 1   Regional indicator                          153 non-null    object
 2   Ladder score                                153 non-null    float64
 3   Standard error of ladder score              153 non-null    float64
 4   upperwhisker                                153 non-null    float64
 5   lowerwhisker                                153 non-null    float64
 6   Logged GDP per capita                       153 non-null    float64
 7   Social support                              153 non-null    float64
 8   Healthy life expectancy                     153 non-null    float64
 9   Freedom to make life choices                153 non-null    float64
 10  Generosity                                  153 non-null    float64
 11  Perceptions of corruption                   153 non-null    float64
 12  Ladder score in Dystopia                    153 non-null    float64
 13  Explained by: Log GDP per capita            153 non-null    float64
 14  Explained by: Social support                153 non-null    float64
 15  Explained by: Healthy life expectancy       153 non-null    float64
 16  Explained by: Freedom to make life choices  153 non-null    float64
 17  Explained by: Generosity                    153 non-null    float64
 18  Explained by: Perceptions of corruption     153 non-null    float64
 19  Dystopia + residual                         153 non-null    float64
dtypes: float64(18), object(2)
memory usage: 24.0+ KB

# Create consistency across dataframes

## Rename headers to match across dataframes

In [8]:
df_happy_2015_2019 = df_happy_2015_2019.rename(
    columns = {"Life Ladder": "Ladder score",
               "Log GDP per capita": "Logged GDP per capita",
               "Healthy life expectancy at birth": "Healthy life expectancy"})

## Drop irrelevant columns

In [9]:
df_happy_2015_2019 = df_happy_2015_2019.drop(
    ["Positive affect", "Negative affect"], axis = 1)

In [10]:
df_happy_2020 = df_happy_2020.drop(["Regional indicator", "Standard error of ladder score", 
                                    "upperwhisker", "lowerwhisker",
                                    "Ladder score in Dystopia",
                                    "Explained by: Log GDP per capita", 
                                    "Explained by: Social support",
                                    "Explained by: Healthy life expectancy", 
                                    "Explained by: Freedom to make life choices", 
                                    "Explained by: Generosity", 
                                    "Explained by: Perceptions of corruption", "Dystopia + residual"], 
                                   axis = 1)

In [11]:
df_happy_2021 = df_happy_2021.drop(["Regional indicator", "Standard error of ladder score",
                                    "upperwhisker", "lowerwhisker",
                                    "Ladder score in Dystopia",
                                    "Explained by: Log GDP per capita",
                                    "Explained by: Social support",
                                    "Explained by: Healthy life expectancy",
                                    "Explained by: Freedom to make life choices",
                                    "Explained by: Generosity",
                                    "Explained by: Perceptions of corruption", "Dystopia + residual"],
                                   axis = 1)

## Add year columns

In [12]:
df_happy_2020["year"] = 2020
df_happy_2020.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,7.8087,10.639267,0.954330,71.900826,0.949172,-0.059482,0.195445,2020
1,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,2020
2,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,2020
3,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,2020
4,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,2020

In [13]:
df_happy_2021["year"] = 2021
df_happy_2021.head()

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,year
0,Finland,7.842,10.775,0.954,72.0,0.949,-0.098,0.186,2021
1,Denmark,7.620,10.933,0.954,72.7,0.946,0.030,0.179,2021
2,Switzerland,7.571,11.117,0.942,74.4,0.919,0.025,0.292,2021
3,Iceland,7.554,10.878,0.983,73.0,0.955,0.160,0.673,2021
4,Netherlands,7.464,10.932,0.942,72.4,0.913,0.175,0.338,2021

## Remove 2020 data from 2015-2019 report to avoid duplicates

In [14]:
data_2020 = df_happy_2015_2019.loc[df_happy_2015_2019["year"] == 2020]

df_happy_2015_2019 = df_happy_2015_2019.drop(data_2020.index)

# Merge dataframes

In [15]:
column_names = df_happy_2015_2019.columns
column_names

Index(['Country name', 'year', 'Ladder score', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [16]:
df_happy = pd.DataFrame(columns = column_names)

In [17]:
df_happy.head()

Empty DataFrame
Columns: [Country name, year, Ladder score, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [18]:
df_happy = pd.concat([df_happy, df_happy_2015_2019], axis = 0)

In [19]:
df_happy = pd.concat([df_happy, df_happy_2020], axis = 0)

In [20]:
df_happy = pd.concat([df_happy, df_happy_2021], axis = 0)

In [21]:
df_happy.shape

(2156, 9)

In [23]:
df_happy["Country name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain',
       'Bangladesh', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)',
       'Costa Rica', 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger',
       'Nigeria', 'North Cyprus', 'North Macedonia', 'Norway', 'Oman',
       'Pakistan', 'Palestinian Territories', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Somalia',
       'Somaliland region', 'South Africa', 'South Korea', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan Province of China', 'Tajikistan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia',
       'Zimbabwe', 'Macedonia'], dtype=object)

# Clean up headers

In [24]:
# Replace spaces with underscores
df_happy.columns = df_happy.columns.str.replace(" ", "_")

In [25]:
# Make headers lowercase
df_happy.columns = map(str.lower, df_happy.columns)

In [26]:
df_happy.columns

Index(['country_name', 'year', 'ladder_score', 'logged_gdp_per_capita',
       'social_support', 'healthy_life_expectancy',
       'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')

In [28]:
df_happy = df_happy.rename(columns = {"country_name": "country"})

# Reset index

In [29]:
df_happy.reset_index(drop = True, inplace = True)

In [30]:
df_happy.head()

,country,year,ladder_score,logged_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776

In [31]:
df_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2156 entries, 0 to 2155
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       2156 non-null   object
 1   year                          2156 non-null   object
 2   ladder_score                  2156 non-null   float64
 3   logged_gdp_per_capita         2127 non-null   float64
 4   social_support                2143 non-null   float64
 5   healthy_life_expectancy       2104 non-null   float64
 6   freedom_to_make_life_choices  2125 non-null   float64
 7   generosity                    2074 non-null   float64
 8   perceptions_of_corruption     2052 non-null   float64
dtypes: float64(7), object(2)
memory usage: 151.7+ KB

# Export cleaned data as CSV

In [32]:
df_happy.to_csv('world-happiness-report_clean.csv', index = False)

# EDA

In [33]:
df_happy.describe()

,ladder_score,logged_gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
count,2156.000000,2127.000000,2143.000000,2104.000000,2125.000000,2074.000000,2052.000000
mean,5.455265,9.351845,0.811262,63.390488,0.745607,-0.001729,0.746360
std,1.115322,1.162684,0.118823,7.468284,0.140415,0.161697,0.184746
min,2.375000,6.492642,0.290000,32.300000,0.258000,-0.335000,0.035000
25%,4.639750,8.449500,0.748000,58.629693,0.651000,-0.117000,0.690000
50%,5.385000,9.456000,0.834000,65.200000,0.765000,-0.027000,0.800000
75%,6.268250,10.341509,0.905000,68.569250,0.859000,0.089000,0.868000
max,8.019000,11.648000,0.987000,77.100000,0.985000,0.698000,0.983000